/* farver */

:root {
  --baggrund: #f7f6f2;
  --farve1: #db3326;
  --farve2: #ff8f78;
  --farve3: rgba(143, 29, 20, 1);
}
/* fonte web*/

/*  side text*/
@font-face {
  font-family: "a_bold", Arial, Helvetica, sans-serif;
  src: url(../fonte/MierA-Bold.woff2);
}
@font-face {
  font-family: "a_heavy", Arial, Helvetica, sans-serif;
  src: url(../fonte/MierA-Heavy.woff2);
}
/* hedder skrift */
@font-face {
  font-family: "a_book";
  src: url(../fonte/MierA-Book.woff2);
}
/* forside skrift */
@font-face {
  font-family: "b_bold", Arial, Helvetica, sans-serif;
  src: url(../fonte/MierB-Bold.woff2);
}
@font-face {
  font-family: "a_light";
  src: url(../fonte/MierA-Light.woff2);
}
@font-face {
  font-family: "normal";
  src: url(../fonte/MierA-Regular.woff2);
}

/* primære styling */

html {
  font-size: 12px;
}
body {
  background-color: var(--baggrund);
}

header {
  background-color: var(--baggrund);
  color: var(--farve-1, #db3326);
  padding: 10px 0;
}
* {
  padding: 0;
  box-sizing: border-box;
}
main {
  flex: 1; /* Fylder tilgængelig plads */
  margin: 0 auto;
  align-content: center;
}

footer {
  font-family: "a_light", Arial, Helvetica, sans-serif;
  color: var(--farve-1, #db3326);
  margin: 10px;
  text-align: left;
  padding: 10px 0;
  background-color: var(--baggrund);
}

/* nav styl */
#hjem a {
  color: var(--farve-1, #db3326);
  font-family: "a_book", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

ul a {
  font-family: "a_book", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--farve-1, #db3326);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

/* forside styl */
ul {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.screen a {
  color: var(--farve1);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.875rem;
  letter-spacing: 0.125rem;
}
.screen p {
  font-family: "normal", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  /* font-size: 2rem; */
}
/* h text */
h1 {
  font-family: "b_bold", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  /* font-size: 7rem; */
  letter-spacing: 0.4rem;
  margin: 0%;
  /* padding-bottom: 20px; */
}
h2 {
  font-family: "a_heavy", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 10rem;
  line-height: 1.5rem;
  letter-spacing: 0.4rem;
  padding-left: 10%;
}
h3 {
  font-family: "a_bold", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 3rem;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  padding: 10px 30px 20px;
}
/* text styling mellem acordian*/
h4 {
  color: var(--farve-1, #db3326);
  font-family: "b_book", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: 1.8px;
  margin: 20px 0px 20px 0px;
}

.brødtext {
  color: #000;
  font-family: "normal", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.075rem;
  line-height: 150%;
  padding-right: 30px;
}

.brødtext ul {
  list-style: circle;
  display: inline;
}
.indhold_top p {
  color: var(--farve1);
  line-height: 3rem;
  font-family: "a_light", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.indhold_top a {
  font-family: "b_book", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 2rem;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  text-decoration-line: underline;
}
/* links styling */

a:link {
  color: var(--farve1);
}

a:visited {
  color: var(--farve1);
}

a:hover {
  color: var(--farve2);
}

a:active {
  color: var(--farve1);
}
/* link til krynds billed  */
.kryds_box {
  width: 2rem;
}
.kryds {
  background-image: url(../billeder/iconer/kryds.svg);
  background-size: cover;
  aspect-ratio: 1/1;
}
.kryds_rotate {
  background-image: url(../billeder/iconer/kryds.svg);
  background-size: cover;
  aspect-ratio: 1/1;
  rotate: 45deg;
}

/* kontainer der åbner */
img {
  object-fit: contain;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  /* background-color: #db3326; */
  /* opacity: 0.7; */
  transition: 0.3s;
  scale: 110%;
}

/* modul bagrund */
.modal {
  display: none; /* skjuler som dfalt */
  position: fixed; /* bliver på plads  */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* fjeren scroll hvis der er nødvendig  */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(255, 143, 120, 0.8); /* farve to w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* texten når billedet er åben */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #000000;
  padding: 10px 0;
  height: 150px;
  font-family: "b_light", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* tilføjer animation */
.modal-content,
.caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* luk knap på modal */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--farve1);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--farve-1, #db3326);
  text-decoration: none;
  cursor: pointer;
}
.modal-content {
  width: 100%;
}
/* procs styling */
.proces {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.7rem 0.7rem;
  justify-content: center;

  border-radius: 2rem;
  border: 3px solid var(--farve1, #db3326);
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--farve1);
}
.proces p {
  font-family: "b_book", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 1.2rem;
}
.proces_c .brødtext {
  padding: 20px 40px;
}
.flex_6 p {
  font-family: "b_book", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 1.5rem;
}
/* om mig styling */

.skills p {
  font-family: "a_light", Arial, Helvetica, sans-serif;
  color: var(--farve1);
  font-size: 1.5rem;
  line-height: 0%;
}
.streg {
  width: 3.75rem;
  height: 0.3rem;
  background-color: var(--farve1);
}
.lys {
  background-color: rgb(255 143 120 / 52%);
}
.flex_4 p {
  color: #000;
}
.ommig h2 {
  font-family: "b_bold", Arial, Helvetica, sans-serif;
  line-height: 0px;
  font-size: 7rem;
  text-align: left;
  letter-spacing: 0;
  padding: 0px;
}
.ommig h3 {
  padding: 0%;
  z-index: 10;
}
.ommig {
  padding: 0% 8% 10% 8%;
  position: relative;
}
.ommig img {
  position: absolute;
  bottom: 0%;
  left: 12%;
  width: 32.5rem;
  height: 43.3125rem;
  z-index: -1;
}
.top_ommig {
  padding: 5% 2% 40% 2%;
}
.først {
  color: var(--farve1);
  font-family: "a_book", Arial, Helvetica, sans-serif;
  font-size: 2.9rem;
  line-height: 3.9375rem;
}
.anden {
  color: var(--farve2);
  line-height: 3rem;
  font-family: "a_light", Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 2rem;
}

@media (min-width: 850px) {
  html {
    font-size: 16px;
  }
  main {
    flex: 1; /* Fylder tilgængelig plads */
    margin: 0 auto;
  }
  .ommig h2 {
    text-align: left;
    padding: 0px 20px;
  }

  .kryds_box {
    width: 30px;
  }
  .kryds {
    background-image: url(../billeder/iconer/kryds.svg);
    background-size: cover;
    aspect-ratio: 1/1;
  }
  .kryds_rotate {
    background-image: url(../billeder/iconer/kryds.svg);
    background-size: cover;
    aspect-ratio: 1/1;
    rotate: 45deg;
  }
  .ommig h2 {
    font-family: "b_bold", Arial, Helvetica, sans-serif;
    line-height: 0px;
    font-family: "a_heavy", Arial, Helvetica, sans-serif;
    color: var(--farve1);
    font-size: 10rem;
    letter-spacing: 0.4rem;
  }
  .top_ommig {
    padding: 5% 2% 20% 2%;
  }
}
