 <iframe
                    style="border: 1px solid rgba(0, 0, 0, 0.1)"
                    width="500"
                    height="450"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fr14Om01O6248mdd6PqRQTA%2FUntitled%3Fpage-id%3D26%253A2072%26type%3Ddesign%26node-id%3D113-8791%26viewport%3D37%252C448%252C0.05%26t%3DekTnEi25TgoQaSX4-1%26scaling%3Dscale-down%26starting-point-node-id%3D113%253A8674%26mode%3Ddesign"
                    allowfullscreen
                  ></iframe>


                      <iframe
                    style="border: 1px solid rgba(0, 0, 0, 0.1)"
                    width="500"
                    height="450"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fr14Om01O6248mdd6PqRQTA%2FUntitled%3Fpage-id%3D26%253A2072%26type%3Ddesign%26node-id%3D113-8674%26viewport%3D37%252C448%252C0.05%26t%3DekTnEi25TgoQaSX4-1%26scaling%3Dscale-down%26starting-point-node-id%3D113%253A8674%26mode%3Ddesign"
                    allowfullscreen
                  ></iframe>